MARIADB_ROOT_PASSWORD=root_secret
MARIADB_DATABASE=magento2
MARIADB_USER=user
MARIADB_PASSWORD=user
MARIADB_PORT=3306

VALKEY_CACHE_PORT=6379
VALKEY_SESSION_PORT=6380

OPENSEARCH_PORT=9200
OPENSEARCH_PERF_PORT=9600
OPENSEARCH_ADMIN_PASSWORD=Magento@2026!
